<template name="cars_list">
    <h3>Cars list</h3>
    <ul class="list-group">
        <li class="list-group-item active">Available cars:</li>
        {{#if subsReady}}
            {{#each cars}}
                {{>car_item}}
            {{/each}}
        {{/if}}
    </ul>
</template>

<template name="car_item">
    <li class="list-group-item">
        <strong>Make:</strong> {{makesNames make_id}},
        <strong>Model:</strong> {{model}},
        <strong>Age:</strong> {{age}}
    </li>
</template>